.main {
  background-color: #f0f0f0;
  padding: 20px 80px !important;
}


.fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textField {
  width: 350px;
}

.icon-container {
  margin-top: 12px !important;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #009688;
}

.compareIcon {
  background-color: white;
}

.tabs {
  font-weight: bold !important;
}

.MuiButton-containedPrimary {
  background-color: #009688 !important;
  color: white !important;
  height: 35px !important;
  margin-top: 15px;
}

.output-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  margin-bottom: 40px !important;
}

.output-lables {
  font-size: 48px;
  font-weight: normal;
  color: #404040;
}

.to-label {
  color: #94C720;
  font-weight: bold;
}

.headers {
  font-size: 48px;
  font-weight: bold;
  color: #404040;
}

.sub-header {
  font-weight: bold;
  color: #404040;
}

.MuiTableCell-head {
  color: #8D8D8D !important;
  font-weight: 800 !important;
}

.MuiButton-root {
  margin-top: 10px !important;
}

.Mui-selected, .Mui-checked {
  color: #009688 !important;
}
.MuiTabs-indicator {
  background-color: #009688 !important;
}

.MuiFormControl-root {
  margin: 0px !important;
  width: 260px;
}

.MuiFormControlLabel-root {
  font-size: 15px !important;
  
}

.exchange-rate-container {
  margin-top: 5px !important
}

.rate-label {
  color: #8D8D8D;
  font-weight: 400;
}

.action-container {
  display: flex;
  color: #009688;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
}

.delete-container {
  display: flex;
  color: #C70D38;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  cursor: pointer;
}

.action-label {
  margin-left: 5px;
}

.chart-container {
  margin-top: 25px !important;
}

.radio-container { 
  margin-top: 10px !important;
}
